.mainContacto {
    height: auto;
    width: 100%;
    text-align: center;
    h1 {
        text-align: center;
        padding-top: 20px;
        letter-spacing: 7px;
        font-size: 2.8rem;
        color: black;
    }
    h1::first-letter{
        color: darkgreen;
        font-size: 4.3rem;
        text-shadow: 2px 1px 0px black;
    }
    h2 {
        text-align: center;
        padding: 20px;
        color: black;
        margin: 0 auto;
        font-size: 2rem;
    }
    .btn-redes {
        text-align: center;
        word-spacing: 20px;
    }
    a {
        text-decoration: none;
        font-size: 1.25rem;
        color: white;
        letter-spacing: 2px;
        padding: 5px;
        transition: all 0.15s;
    }
    section {
        height: auto;
        width: 70%;
        margin: 0 auto;
        background-color: rgba(0, 100, 0, 0.356);
        padding: 10px;
        margin-top: 20px;
    }
    a:hover {
        font-size: 1.56rem;
        border-radius: 5px;
        border: 2px solid white;
        transition: all 0.15s;
    }
}

@media only screen and (min-width:900px) {
    .mainContacto h2 {
        width: 700px;
    }
}

@media only screen and (max-width:325px) {
    .btn-redes{
        display: flex;
        flex-direction: column;
        width: 90px;
        margin: 0 auto;
        a{
            margin-bottom: 15px;
        }
    }
    .mainContacto {
        h1{
        font-size: 2.3rem;
        letter-spacing: 2px;
        }
        h1::first-letter{
            font-size: 3.8rem;
        }
    }
}

.instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}
.whatsapp{
    background-color: #25D366;
}
.facebook{
    background-color: #4267B2;
}

.formulario {
    p{
    margin-top: 10px;
    }
    input{
        margin-top: 10px;
    }
    p, h3, ::placeholder {
        color: black;
    }
}
.alert{
    width: 50%;
    margin: 0 auto;
}
.textoYBotones{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    input{
        text-align: center;
        margin-top: 20px;
        width: 90px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
textarea{
    width: 450px;
    margin: 0 auto;
    padding-bottom: 20px;
}
@media only screen and (max-width:680px){
    textarea{
        width: 80%;
    }
    .formulario input{
        width: 80%;
    }
}
#alerta{
    padding: 3px;
}