@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

.mainContacto {
    height: auto;
    width: 100%;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;

    .contact_form {
        width: 600px;
        height: auto;
        margin: 10px auto;
        border-radius: 10px;
        padding-top: 30px;
        padding-bottom: 20px;
        background-color: $color2;
        box-shadow: 5px 5px 5px $color1;

        .formulario {
            h1 {
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 3rem;
                text-align: center;
                padding-bottom: 20px;
                color: $color1;
                letter-spacing: 1px;
            }

            h3 {
                font-size: 1.1rem;
                padding-bottom: 30px;
                color: #0e0e0e;
            }

            p {
                font-size: 0.9rem;
                color: #0e0e0e;
            }

            input:focus {
                outline: 0;
                border: 1px solid #14b853;
            }

            textarea:focus {
                outline: 0;
                border: 1px solid #14b853;
            }

            label {
                display: block;
                float: center;
            }

            input {
                background-color: #fbfbfb;
                width: 408px;
                height: 40px;
                border-radius: 5px;
                border-style: solid;
                border-width: 1px;
                border-color: white;
                margin-top: 10px;
                padding-left: 10px;
                margin-bottom: 20px;
            }

            textarea {
                background-color: #fbfbfb;
                width: 405px;
                height: 150px;
                border-radius: 5px;
                border-style: solid;
                border-width: 1px;
                border-color: white;
                margin-top: 10px;
                padding-left: 10px;
                margin-bottom: 20px;
                padding-top: 15px;
            }

            button {
                height: 45px;
                padding-left: 5px;
                padding-right: 5px;
                padding-top: 10px;
                margin-bottom: 20px;
                margin-top: 10px;
                text-transform: uppercase;
                background-color: $color1;
                border-color: $color1;
                border-style: solid;
                border-radius: 10px;
                width: 420px;
                cursor: pointer;

                p {
                    color: white;
                }
            }

            span {
                color: #14b853;
            }

            .aviso {
                font-size: 0.8rem;
                color: #0e0e0e;
            }

            ::-webkit-input-placeholder {
                color: #a8a8a8;
            }

            ::-webkit-textarea-placeholder {
                color: #a8a8a8;
            }
            .asunto{
                width: 405px;
                height: 40px;
                border-radius: 5px;
                border-style: solid;
                border-width: 1px;
                border-color: white;
                padding-left: 10px;
                option{
                    color: #0e0e0e;
                }
            }
            .asunto:focus{
                outline: 0;
                border: 1px solid #14b853;
            }
        }
    }
}
@media only screen and (max-width:600px){
    .mainContacto{
        .contact_form {
            width: 100%;
            .formulario{
                h1{
                    font-size: 4rem;
                }
                h3{
                    font-size: 1.5rem;
                }
                p{
                    font-size: 1.2rem;
                }
                .aviso{
                    font-size: 1.1rem;
                }
                input{
                    width: 70%;
                }
                textarea{
                    width: 70%;
                }
                button{
                    width: 70%;
                }
                .asunto{
                    width: 70%;
                }
            }
        }
    }
}
