@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 70%;
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 100%;
  }
}
@font-face {
  font-family: handrawnLetter;
  src: url(./Font/DeliciousHandrawn-Regular.ttf);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: caveat;
  src: url(./Font/Caveat-SemiBold.ttf);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: dongle;
  src: url(./Font/Dongle-Regular.ttf);
  font-weight: 100;
  font-style: normal;
}
.headerIndex {
  height: 30%;
}

.centro {
  background-color: rgba(9, 170, 44, 0.349);
  text-align: center;
  padding-top: 40px;
  height: 40%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 40%);
  grid-gap: 5px;
}
.centro h2 {
  margin-top: 20px;
  font-size: 27px;
  color: white;
  text-align: center;
  animation-name: aparecer;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 2s;
  animation-delay: 2.5s;
}

.iniciar {
  font-family: handrawnLetter;
  font-size: 4.8rem;
  color: white;
  text-decoration: none;
  letter-spacing: 10px;
  animation-name: aparecer;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 2s;
  animation-delay: 4.5s;
}

@media only screen and (max-width: 600px) {
  .iniciar {
    letter-spacing: 1px;
  }
}
@media only screen and (max-height: 450px) {
  .centro {
    padding-top: 22px;
  }
  .centro h2 {
    font-size: 1rem;
    margin-top: 20px;
  }
  .iniciar {
    font-size: 3.5rem;
    letter-spacing: 1px;
  }
}
@media only screen and (max-height: 250px) {
  .centro {
    padding-top: 20px;
  }
  .centro h2 {
    font-size: 0.7rem;
    margin-top: 15px;
  }
  .iniciar {
    font-size: 2.5rem;
    letter-spacing: 0px;
  }
}
@media only screen and (max-width: 345px) {
  .iniciar {
    font-size: 2.7rem;
    letter-spacing: 0px;
  }
  .centro {
    height: 28%;
    padding-top: 20px;
  }
  .centro h2 {
    font-size: 1rem;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 230px) {
  .iniciar {
    font-size: 2rem;
  }
  .centro {
    height: 20%;
  }
  .centro h2 {
    font-size: 0.8rem;
    margin-top: 5px;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.headerGeneral {
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

body {
  margin: 0;
  padding: 0;
  background: url(img/fondoIndex.jpg);
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

.bodyIndex {
  height: 100vh;
  background-image: url(img/fondoIndex.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  background-color: rgba(46, 71, 93, 0.9529411765);
  width: 100%;
  height: auto;
  padding: 15px;
}

.contactoSocial {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 0 auto;
}
.contactoSocial a {
  text-decoration: none;
  color: white;
  font-size: 2.1rem;
  padding: 8px;
  border-radius: 50%;
  transition: all 0.15s;
}
.contactoSocial .wpp:hover {
  background-color: #25D366;
  transition: all 0.15s;
}
.contactoSocial .ig:hover {
  background: #f09433;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f09433", endColorstr="#bc1888", GradientType=1);
  transition: all 0.15s;
}
.contactoSocial .fb:hover {
  background-color: #4267B2;
  transition: 0.15s;
}
.contactoSocial li {
  display: inline-block;
}

.nombre__copy {
  text-align: center;
}
.nombre__copy h4 {
  font-family: caveat;
  font-size: 2.6rem;
  color: rgb(7, 194, 7);
  width: auto;
}

.copyright {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.copyright ul {
  width: 400px;
  display: flex;
  justify-content: space-around;
  position: relative;
  text-align: center;
  list-style: none;
  margin: 0 auto;
}

@media only screen and (max-width: 450px) {
  .copyright ul {
    width: 100%;
    font-size: 1rem;
  }
  .mainInicio h1 {
    font-size: 2.6rem;
    letter-spacing: 1px;
  }
}
@media only screen and (max-width: 272px) {
  .copyright ul {
    width: 100%;
    font-size: 0.8rem;
  }
  .mainInicio h1 {
    font-size: 1.87rem;
    letter-spacing: 0px;
  }
  .mainInicio section p {
    font-size: 1.87rem;
  }
  .contactoSocial {
    width: 100%;
    justify-content: space-around;
  }
  .contactoSocial a {
    font-size: 2.2rem;
    padding: 5px;
  }
  .nombre__copy h4 {
    font-size: 2.67rem;
  }
}
.navbar-brand img {
  height: 110px;
  width: 150px;
}
.navbar-brand img:hover {
  transform: scale(1.09);
}
.navbar-brand span {
  height: 30px;
  width: 30px;
}

.collapse {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.collapse a {
  padding: 7px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
  color: rgba(3, 39, 17, 0.986);
  background-color: rgba(255, 255, 255, 0.664);
  border-radius: 20%;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
}

.nav-item {
  padding: 80px;
}
.nav-item :hover {
  transform: scale(1.09);
  transition: all 0.2s;
}

@media only screen and (max-width: 992px) {
  .nav-item {
    padding: 5px;
  }
}
:root {
  --color-green:rgba(5, 65, 28, 0.986);
  --color-red: rgba(255, 255, 255, 0.507);
  --color-button: #fdffff;
  --color-black: #0c0b0b;
}

.switch-button {
  display: inline-block;
}
.switch-button .switch-button__checkbox {
  display: none;
}
.switch-button .switch-button__label {
  background-color: var(--color-red);
  width: 4rem;
  height: 2rem;
  border-radius: 3rem;
  display: inline-block;
  position: relative;
}
.switch-button .switch-button__label:before {
  transition: 0.2s;
  display: block;
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: var(--color-button);
  content: "";
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 1px var(--color-black);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label {
  background-color: var(--color-green);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
  transform: translateX(2rem);
}

@media only screen and (min-width: 992px) {
  .switch-button {
    visibility: hidden;
  }
}
.mainInicio {
  min-height: auto;
  width: 100%;
  margin: 0 auto;
}
.mainInicio h1 {
  font-size: 3.1rem;
  letter-spacing: 15px;
  text-align: center;
  margin-bottom: 50px;
}
.mainInicio h1::first-letter {
  color: darkgreen;
  font-size: 4.3rem;
  text-shadow: 2px 1px 0px black;
}
.mainInicio p {
  padding: 7px;
  height: auto;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.664);
  border-radius: 12px;
  color: rgba(3, 39, 17, 0.986);
  font-family: dongle;
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
}
.mainInicio video {
  margin-top: 50px;
  padding-left: 20%;
}

@media only screen and (max-width: 600px) {
  .mainInicio h1 {
    letter-spacing: 5px;
  }
}
@media only screen and (max-width: 300px) {
  .mainInicio h1 {
    letter-spacing: 1px;
    font-size: 2.3rem;
  }
}
.mainEpuyen {
  height: auto;
  width: 100%;
  background-image: url(../Imagenes/epuyen3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mainEpuyen div {
  text-align: center;
}
.mainEpuyen iframe {
  width: 100%;
  height: 300px;
}

.barra1, .barra2, .barra3 {
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.664);
  text-align: center;
  box-shadow: inset 0 0 12px 15px rgba(255, 255, 255, 0.664);
}
.barra1 .propTitulos, .barra1 h2, .barra2 .propTitulos, .barra2 h2, .barra3 .propTitulos, .barra3 h2 {
  color: rgba(3, 39, 17, 0.986);
  padding: 12px;
  font-size: 1.9rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
}
@media only screen and (max-width: 455px) {
  .barra1, .barra2, .barra3 {
    height: 45px;
  }
  .barra1 .propTitulos, .barra1 h2, .barra2 .propTitulos, .barra2 h2, .barra3 .propTitulos, .barra3 h2 {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  .barra1 h2, .barra2 h2, .barra3 h2 {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
}
@media only screen and (max-width: 330px) {
  .barra1, .barra2, .barra3 {
    height: 40px;
  }
  .barra1 .propTitulos, .barra1 h2, .barra2 .propTitulos, .barra2 h2, .barra3 .propTitulos, .barra3 h2 {
    font-size: 1.2rem;
    letter-spacing: 0px;
  }
  .barra1 h2, .barra2 h2, .barra3 h2 {
    font-size: 1.2rem;
    letter-spacing: 0px;
  }
}
.parteArriba {
  display: flex;
  width: 100%;
  height: auto;
}
.parteArriba .imagenEpuyen {
  background-image: url(img/fotoEpuyen.jpg);
  width: 100%;
  height: 415px;
  background-position: center;
  background-size: cover;
}
.parteArriba .descEpuyen {
  height: auto;
  width: 100%;
  padding: 10px;
}
.parteArriba h2 {
  color: black;
  background-color: rgba(0, 100, 0, 0.534);
  padding: 1px;
  font-size: 3.5rem;
  font-family: dongle;
  border-radius: 15px;
}
.parteArriba p {
  padding: 7px;
  font-size: 2rem;
  font-family: dongle;
  color: black;
  background-color: rgba(50, 205, 50, 0.418);
  border-radius: 15px;
}

@media only screen and (max-width: 720px) {
  .parteArriba {
    flex-direction: column;
    height: auto;
  }
}
@media only screen and (max-width: 800px) {
  .descEpuyen h2 {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .parteArriba .descEpuyen p {
    font-size: 2rem;
    padding: 6px;
  }
}
@media only screen and (max-width: 750px) {
  .mainEpuyen #carouselEpuyen {
    height: 400px;
  }
  .mainEpuyen #carouselEpuyen img {
    height: 330px;
  }
}
@media only screen and (max-width: 550px) {
  .mainEpuyen #carouselEpuyen {
    width: 100%;
    height: 370px;
  }
  .mainEpuyen #carouselEpuyen img {
    width: 100%;
    height: 300px;
  }
}
#carouselEpuyen {
  margin: 0 auto;
  width: 70%;
  height: 500px;
  padding: 35px;
  box-shadow: inset 0 0 12px 15px rgba(255, 255, 255, 0.664);
  background-color: rgba(255, 255, 255, 0.664);
  border-radius: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
}
#carouselEpuyen img {
  margin: 0 auto;
  width: 60%;
  height: 430px;
}
#carouselEpuyen .epuyenTitulo {
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 2px black;
  letter-spacing: 1px;
}
#carouselEpuyen .epuyenTexto {
  font-size: 1.2rem;
  color: white;
  text-shadow: 1.5px 1.5px 2px black;
}

.textoYMapa {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.textoYMapa h2 {
  color: black;
  background-color: rgba(0, 100, 0, 0.534);
  padding: 1px;
  font-size: 3.5rem;
  font-family: dongle;
  border-radius: 15px;
}
.textoYMapa p {
  padding: 10px;
  font-size: 2rem;
  font-family: dongle;
  color: black;
  background-color: rgba(50, 205, 50, 0.171);
  border-radius: 15px;
}

@media only screen and (max-width: 720px) {
  .textoYMapa {
    flex-direction: column;
    height: auto;
  }
}
.parteAbajo {
  height: 100%;
  width: 100%;
  padding: 17px;
}
.parteAbajo iframe {
  border-radius: 15px;
}
.parteAbajo a {
  color: rgba(3, 39, 17, 0.986);
  background-color: rgba(255, 255, 255, 0.774);
  padding: 5px;
  text-decoration: none;
  font-size: 1.25rem;
  border-radius: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.parteAbajo a:hover {
  background-color: rgba(194, 212, 201, 0.699);
  border: 1px solid white;
}

@media only screen and (max-width: 800px) {
  .textoYMapa h2 {
    font-size: 3.5rem;
  }
}
.mainSobreNosotros {
  height: 100%;
  width: 100%;
  background-color: rgba(9, 102, 37, 0.342);
}
.mainSobreNosotros h1 {
  font-size: 3.12rem;
  word-spacing: 15px;
  letter-spacing: 7px;
  margin-bottom: 60px;
  margin-top: 20px;
}
.mainSobreNosotros .puerto::first-letter {
  color: darkgreen;
  font-size: 4rem;
  text-shadow: 2px 1px 0px black;
}
.mainSobreNosotros .bonito::first-letter {
  color: darkgreen;
  font-size: 4rem;
  text-shadow: 2px 1px 0px black;
}

.parte1 {
  text-align: center;
}
.parte1 div {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 450px) {
  .mainSobreNosotros h1 {
    font-size: 2.5rem;
    letter-spacing: 4px;
    word-spacing: 10px;
  }
}
@media only screen and (max-width: 320px) {
  .mainSobreNosotros h1 {
    font-size: 2.1rem;
    letter-spacing: 2px;
    word-spacing: 5px;
  }
}
fieldset {
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  font-size: 2rem;
  font-family: dongle;
  color: black;
}

@media only screen and (min-width: 800px) {
  fieldset {
    width: 700px;
  }
}
legend {
  font-size: 3.5rem;
  color: rgba(3, 39, 17, 0.986);
  background-color: rgba(255, 255, 255, 0.664);
  border-radius: 30px;
  width: 400px;
}

.alquiler {
  text-align: center;
  color: rgba(3, 39, 17, 0.986);
}
.alquiler p {
  color: black;
  font-size: 2rem;
  font-family: dongle;
  padding: 15px;
}
.alquiler h2 {
  font-size: 3.5rem;
  font-family: dongle;
  background-color: rgba(255, 255, 255, 0.664);
  border-radius: 30px;
  width: 400px;
  margin: 0 auto;
}

.parte2 {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.parte2 .card {
  height: auto;
  width: 30%;
  border: 3px solid black;
  box-shadow: 2px 2px 5px black;
  filter: grayscale(70%);
  border-radius: 10px;
}
.parte2 .card .card_img {
  height: 350px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.parte2 .card .card_desc h3 {
  letter-spacing: 0.2px;
  padding-top: 4px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 1.8rem;
  text-shadow: 2px 2px 0px black;
}
.parte2 .card .card_desc p {
  padding: 15px;
  font-family: dongle;
  font-size: 1.75rem;
  color: black;
  text-align: center;
  text-shadow: 0.2px 0.2px 0px black;
}
.parte2 .card:hover {
  transform: scale(1.09);
  transition: all 0.5s;
  text-decoration: none;
  filter: grayscale(0%);
}
.parte2 .card1 {
  background-color: rgba(255, 127, 80, 0.534);
}
.parte2 .card1 .card_img {
  background-image: url(img/alquiler1.jpg);
}
.parte2 .card2 {
  background-color: rgba(255, 255, 0, 0.658);
}
.parte2 .card2 .card_img {
  background-image: url(img/alquiler2.jpg);
}
.parte2 .card3 {
  background-color: rgba(245, 42, 42, 0.548);
}
.parte2 .card3 .card_img {
  background-image: url(img/alquiler3.jpg);
}

@media only screen and (min-width: 900px) {
  .card {
    width: 220px;
  }
  .parte2 {
    justify-content: space-around;
  }
  .alquiler {
    width: 700px;
    margin: 0 auto;
  }
  .parte3 p {
    width: 600px;
  }
}
@media only screen and (max-width: 750px) {
  .parte2 {
    flex-direction: column;
    align-items: center;
  }
  .parte2 .card {
    width: 70%;
    margin-bottom: 30px;
  }
  .parte2 .card_img {
    height: 250px;
  }
}
.parte3 {
  text-align: center;
}
.parte3 h2 {
  font-size: 3.5rem;
  font-family: dongle;
  color: rgba(3, 39, 17, 0.986);
  background-color: rgba(255, 255, 255, 0.664);
  border-radius: 30px;
  width: 400px;
  margin: 0 auto;
}
.parte3 p {
  color: black;
  margin: 0 auto;
  font-size: 2rem;
  font-family: dongle;
  padding: 15px;
}
.parte3 img {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 50px;
  margin-top: 30px;
}
.parte3 img:hover {
  transform: scale(1.09);
  transition: all 0.2s;
}
.parte3 span {
  background-color: rgba(0, 100, 0, 0.534);
}

.mainContacto {
  height: auto;
  width: 100%;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
}
.mainContacto .contact_form {
  width: 600px;
  height: auto;
  margin: 10px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.664);
  box-shadow: 5px 5px 5px rgba(3, 39, 17, 0.986);
}
.mainContacto .contact_form .formulario h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 20px;
  color: rgba(3, 39, 17, 0.986);
  letter-spacing: 1px;
}
.mainContacto .contact_form .formulario h2 {
  font-size: 1.1rem;
  padding-bottom: 30px;
  color: #0e0e0e;
}
.mainContacto .contact_form .formulario p {
  font-size: 0.9rem;
  color: #0e0e0e;
}
.mainContacto .contact_form .formulario input:focus {
  outline: 0;
  border: 1px solid #14b853;
}
.mainContacto .contact_form .formulario textarea:focus {
  outline: 0;
  border: 1px solid #14b853;
}
.mainContacto .contact_form .formulario label {
  display: block;
  float: center;
}
.mainContacto .contact_form .formulario input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}
.mainContacto .contact_form .formulario textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}
.mainContacto .contact_form .formulario button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: rgba(3, 39, 17, 0.986);
  border-color: rgba(3, 39, 17, 0.986);
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}
.mainContacto .contact_form .formulario button p {
  color: white;
}
.mainContacto .contact_form .formulario span {
  color: #14b853;
}
.mainContacto .contact_form .formulario .aviso {
  font-size: 0.8rem;
  color: #0e0e0e;
}
.mainContacto .contact_form .formulario ::-webkit-input-placeholder {
  color: #a8a8a8;
}
.mainContacto .contact_form .formulario ::-webkit-textarea-placeholder {
  color: #a8a8a8;
}
.mainContacto .contact_form .formulario .asunto {
  width: 405px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  padding-left: 10px;
}
.mainContacto .contact_form .formulario .asunto option {
  color: #0e0e0e;
}
.mainContacto .contact_form .formulario .asunto:focus {
  outline: 0;
  border: 1px solid #14b853;
}

@media only screen and (max-width: 600px) {
  .mainContacto .contact_form {
    width: 100%;
  }
  .mainContacto .contact_form .formulario h1 {
    font-size: 4rem;
  }
  .mainContacto .contact_form .formulario h2 {
    font-size: 1.5rem;
  }
  .mainContacto .contact_form .formulario p {
    font-size: 1.2rem;
  }
  .mainContacto .contact_form .formulario .aviso {
    font-size: 1.1rem;
  }
  .mainContacto .contact_form .formulario input {
    width: 70%;
  }
  .mainContacto .contact_form .formulario textarea {
    width: 70%;
  }
  .mainContacto .contact_form .formulario button {
    width: 70%;
  }
  .mainContacto .contact_form .formulario .asunto {
    width: 70%;
  }
}/*# sourceMappingURL=index.css.map */